{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Profil rasm -->
            <img src="/static/man.jpg" alt="Adi" class="rounded mb-3" width="280" height="280">

            <!-- Ism -->
            <h2 data-translate="name">Abdumannon Davroniy | Adi</h2>

            <!-- Qisqacha info -->
            <p data-translate="role">Software Engineer | Researcher</p>
            <p data-translate="bio">
                Ushbu loyiha sizga foyda keltiradi degan umiddaman!
            </p>

            <!-- GitHub link -->
            <a href="https://github.com/aabdurakhmanov" target="_blank" class="btn btn-dark mb-2" data-translate="github">
                GitHub Profilim
            </a>
        </div>
    </div>
</div>
{% endblock %}
